/*FOR CSS IMAGE TRANSITIONS*/
/*http://css3.bradshawenterprises.com/cfimg/*/

body{
  background: url(boy-watch.jpg) no-repeat center center fixed;
  width:100%;
  height: 1500px!important;
}

.main {
  background: url(boy-watch.jpg) no-repeat center center fixed;
  width:100%!important;
  height:100%!important;
  background-size: cover!important;
}

#logo {
  width: 350px;
  height: 200px;
  padding: 0;
}

h1, h2, h3, h4, h5, p{
font-family: helvetica, arial, sans-serif;
line-height: 1.7;
margin-bottom: -2px;
}

a{
color: #FFF;
 padding-right: 30px;
}
p{
font-size: 16px;
}
h3{
  font-size: 18px;
  font-weight: bold;
}
h2 #welcome{
font-size: 24px;

}

#logoName{
font-family: cooperplate;
letter-spacing: 10px;
font-size: 35px;
font-weight: bold;
}

.login {
font-size: 12px;
margin-top: 280px;
margin-left: 200px;
margin-top: 280px;
margin-left: 125%;
height: 300%;
width: 120%;
}

.navbar-brand{
  height: 130px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar{
  float: right;
  margin: 0;
}

#userInput{
  float: right;
  width: 100px;
}

/*farnoosh css*/
body.aboutUs {
   background-image: none !important;
}

ul.navbar-nav {
    float: left;
    margin: 40px;
}


div.row#row{
  margin-top: 180px;
  padding: 40px 30px;
}

.navbar-nav.navbar-right:last-child {
     margin-right: 15px;
}


.navbar-form  {
  width: auto;
  padding-top: 25px;
  margin-left: inherit;
}

.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline;
}

.navbar-collapse ul li {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-collapse ul li a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand img {
  width: 200px;
  height: 40px;
}

.navbar-inverse {
  background-color: #000000;
}

.input-group {
  width: 285px;
  position: static;
}
  .navbar-center{
    /*position: absolute;*/
    width: 139%;
    text-align: center;
    margin: auto;
}

#searchwidth {
  width: 300px;
}

#rowReview {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30%;

}

#roomImage {
  height: 450px;
  width: 450px;
  margin-left: 120px;
}

/*end of farnoosh css*/


/*Styling for Scott search Page*/

/*Styling for search Page*/
.search {
  margin: 250px auto;
  background-color:#F2F7F9;
  border: 6px solid #8FB5C1;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  position:relative;
}

.search h1 {
  text-align: center;
}

.roomPic {
  max-width: 320px;
  max-height: 320px;
  border:1px solid #021a40;
  margin-left: 5px;
  margin-bottom: 5px;
}

.post-thumb img {
  display: block;
}

.post-thumb {
  float: left;

}

.post-content {
  margin-left: 340px;
}

.post-container {

  margin: 20px 20px 0 0;
  border: 1px solid #333;
  overflow: auto;
    margin: 20px 20px 0 0;
    overflow: auto;

}

.starPic {
  width: 95px;
}


/*FOOTER*/
footer {
height: 130px;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
color: black;
}

#copyright{
font-family: cooperplate;
letter-spacing: 10px;
color:#FFF;
font-size: 10px;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
SOCIAL MEDIA - FERNANDA
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }



 /*Styling by Scott for contact page*/
 #contact-form {
    background-color:#F2F7F9;
    width:495px;
    padding:20px;
    margin: 250px auto;
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}

#contact-form h1 {
    font-size:42px;
}

#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#contact-form textarea {
    height:70px;
    resize: none;
}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;
}

#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}

#contact-form #submit-button:active {
    position:relative;
    top:1px;
}

#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#req-field-desc {
    font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 .checkUs{
   font-size: 10px;
  color: #FFF;
 }

 /*Styling by Scott for user input page*/
 #user-input-form {
    background-color:#F2F7F9;
    width:495px;
    padding:20px;
    margin: 250px auto;
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
 }

 #user-input-form h1 {
    font-size:42px;
 }

 #user-input-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
 }

 #user-input-form input,
 #user-input-form select,
 #user-input-form textarea,
 #user-input-form label {
    font-size:15px;
    margin-bottom:2px;
 }

 #user-input-form input,
 #user-input-form select,
 #user-input-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
 }

 #user-input-form input:focus,
 #user-input-form select:focus,
 #user-input-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
 }

 #user-input-form textarea {
    height:200px;
    resize: none;
 }

 #user-input-form label {
    display:block;
 }

 #user-input-form .required {
    font-weight:bold;
    color:#F00;
 }

 #user-input-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
 }

 #user-input-form #submit-button:hover {
    background-color: #A6CFDD;
 }

 #user-input-form #submit-button:active {
    position:relative;
    top:1px;
 }

 #user-input-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
 }

 #req-field-desc {
    font-style:italic;
 }
