<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="grayscale.css" rel="stylesheet">
  </head>

  <body class="aboutUs" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">Thank you <i class="fa fa-smile-o" aria-hidden="true"></i></h1>
              <p class="intro-text">Your question and/or feedback has been submitted! We will get back to you as soon as possible.</p>
              <a href="/" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
