<h1>Bands &amp; Venues Tracker</h1>

<h3><a href="/bands">Bands</a></h3>
  <p> add, update, delete, and assign venues to a band (after venue has been added)</p>
  <!-- <h5><a href="/bands/search">Search Bands by Venue</a></h5> -->

<h3><a href="/venues">Venues</a></h3>
  <p> add, update, delete, and assign bands to a venue (after band has been added)</p>
<!-- <h5><a href="/venues/search">Search Venues by Band</a></h5> -->
