<h1> Room review </h1>

<form action="/user/new" method="post">
  <h4>Please enter your userName</h4>
  <input id="userName" placeholder="name" name= "userName" required></input>
  <input id="password" placeholder="password" name= "password" required></input>
  <button type="submit" class="btn btn-default">submit</button>
</form>
