<!DOCTYPE html>
<html>
  <head>
    <title>Band Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Room Reviewer</title>
	<meta http-equiv="Content-Language" content="en-us" />

	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

	<meta name="description" content="Description" />
	<meta name="keywords" content="Keywords" />

	<meta name="author" content="Enlighten Designs" />

	<style type="text/css" media="all">@import "/app.css";</style>
</head>

<body>

</body>
</html>
