<!DOCTYPE html>
<html>
  <head>
    <title>Room Review</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="/app.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </header>
    <div class="container">

      #parse( $template )

    </div>
    <footer>
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="text-center center-block">
        <h4 class="checkUs">Check us out on social media</h4>
          <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href=""><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </div>
      </div>
    </footer>
  </body>
</html>
